.character-builder__content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.character-builder__header {
	text-align: center;
}

.character-builder-section {
	border: "1px solid black";
}

.character-builder__actions {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 10px;
}
